= stylesheet_link_tag    "shipped", media: "all"
= javascript_include_tag "shipped"

%form.form-inline{ role: "form" }
  .row
    .col-md-4{ style: "float:right; text-align:right; margin-top:17px" }
      %button.btn.btn-default#select-all{ type: "button" } Select All
      %button.btn.btn-default#deselect-all{ type: "button" } Deselect All
    .col-md-4
      %b Date Range
      %button.btn-sm.btn-primary{ type: "submit", style: "float:right; margin:19px 0 0 5px" } Submit
      #datepicker.input-daterange.input-group
        %input.input-sm.form-control{ name: "start", type: "text", value: @start.strftime("%m/%d/%Y") }/
        %span.input-group-addon to
        %input.input-sm.form-control{ name: "end", type: "text", value: @end.strftime("%m/%d/%Y") }/
  %br
  .row#teams
    - @users_by_team.in_groups_of(4).each do |teams|
      - teams.each do |(team, users)|
        .col-md-2
          = render partial: 'team_member', locals: { team: team, users: users }

%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Commits
      %th Comments
      %th Review Comments
      %th File Additions
      %th File Deletions
      %th File Changes
      %th Merged
      %th QA State Changes
      %th Name
      %th Login

  %tbody
    - @issues.each do |issue|
      %tr
        %td
          %a{ href: issue.url }= issue.title_without_long_words
        %td= issue.commits
        %td= issue.comments
        %td= issue.review_comments
        %td= issue.file_additions
        %td= issue.file_deletions
        %td= issue.file_changes
        %td= issue.merged
        %td= (issue.lighthouse_ticket.lighthouse_events.where(event: 'state', state: 'pending-qa').count rescue 0)
        %td= issue.github_user.name
        %td= issue.github_user.login

#code_reviews{ style: "width:100%; height:400px;" }
:coffee
  $('#code_reviews').highcharts(
    chart: type: 'bar'
    legend: enabled: false
    title: text: 'Code Reviews'
    xAxis:
      categories: #{ @code_review_names.to_json }
    yAxis:
      allowDecimals: false
      title: text: 'Tickets'
    series: [{
      name: "Code Reviews"
      data: #{ @code_review_counts.to_json }
    }]
  )

#qa_state_changes{ style: "width:100%; height:400px;" }
:coffee
  $('#qa_state_changes').highcharts(
    title: text: 'Avg QA State Changes Per Ticket'
    legend: enabled: false
    xAxis:
      type: 'datetime'
    yAxis:
      title: text: 'Avg QA State Changes'
    series: [{
      name: "Avg QA State Changes"
      pointInterval: 24 * 3600 * 1000
      pointStart: Date.UTC(#{@start.year}, #{@start.month-1}, #{@start.day})
      data: #{@qa_state_changes.to_json}
    }]
  )

#time_to_review{ style: "width:100%; height:400px;" }
:coffee
  $('#time_to_review').highcharts(
    title: text: 'Avg Minutes to Review'
    legend: enabled: false
    xAxis:
      type: 'datetime'
    yAxis:
      title: text: 'Avg Minutes to Review'
    series: [{
      name: "Avg Minutes"
      pointInterval: 24 * 3600 * 1000
      pointStart: Date.UTC(#{@start.year}, #{@start.month-1}, #{@start.day})
      data: #{@time_to_review.to_json}
    }]
  )

#time_to_qa{ style: "width:100%; height:400px;" }
:coffee
  $('#time_to_qa').highcharts(
    title: text: 'Avg Minutes to QA'
    legend: enabled: false
    xAxis:
      type: 'datetime'
    yAxis:
      title: text: 'Avg Minutes to QA'
    series: [{
      name: "Avg Minutes"
      pointInterval: 24 * 3600 * 1000
      pointStart: Date.UTC(#{@start.year}, #{@start.month-1}, #{@start.day})
      data: #{@time_to_qa.to_json}
    }]
  )